* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0 auto;
    text-align: center;
}
button,
input {
    font-family: "Roboto", sans-serif;
}
.blok__fs {
    background: #EEEFF1;
    padding: 79px 0 141px;
    margin-bottom: 112px;
    font-size: 0;
}
.blok__fs__content {
    width: 1110px;
    margin: 0 auto;
    text-align: left;
}
.nav {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000;
}
.nav:hover {
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #34547A;
}
.nav + .nav {
    margin-left: 42px;
}
.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000;
    margin: 162px 0 60px;
}
.texts {
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.text {
    margin: 0;
}
.hdr__btn {
    display: block;
    width: 225px;
    margin-top: 65px;
    background: #34547A;
    border: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFF;
    padding: 20px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.about__me {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}
.sbttl {
    margin: 50px auto 0;
}
.numbers {
    width: 100%;
    background: #34547A;
    margin-top: 100px;
}
.numbers__content {
    width: 1110px;
    margin: 0 auto;
    text-align: left;
    padding: 100px 0;
    text-align: left;
    font-size: 0;
}
.card {
    display: inline-block;
    width: 141px;
}
.card + .card {
    margin-left: 45px;
}
.img__numders {
    display: inline-block;
    margin-right: 20px;
}
.blok__numders {
    display: inline-block;
    vertical-align: top;
}
.amount__numders {
    display: block;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFF;
    margin: 0;
}
.unit__numders {
    display: inline;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
    margin: 0;
}
.video {
    background: #EEEFF1;
    padding: 100px 0;
    font-size: 0;
}
.subject {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}
.tagline {
    margin: 0 auto 57px;
}
.footer {
    background: #34547A;    
}
.footer__content {
    width: 1110px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
    font-size: 0;
}
.name {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFF;
    margin-bottom: 20px;
}
.copy {
    font-size: 13px;
    line-height: 21px;
    color: #FFF;
}
.background-image {
    width: 1110px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/video.png);
}
.padding-top {
    width: 100px;
    margin: 0 auto;
    padding-top: 250px;
}
.play__button {
    margin-top: 0 auto;
    cursor: pointer;
}