* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
}
.desktop {
    width: 1920px;
    margin: 0 auto;
    text-align: center;

}
.first__screen {
    background: #EEEFF1;
    padding: 80px 400px 140px;
    text-align: left;
    margin-bottom: 112px;
}
.nav {
    font-size: 0;
}
.nav__link {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000;
}
.nav__link + .nav__link {
    margin-left: 42px;
}
#home {
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #34547A;
}
.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000;
    margin: 162px 0 60px;
}
.text {
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 0;
}
.hdr__btn {
    width: 225px;
    margin-top: 65px;
    background: #34547A;
    border: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFF;
    padding: 20px 0;
}
.about__me {
    margin: 0 auto;
    width: 540px;

}
.caption {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000;
    margin: 0;

}
.sbttl {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 50px 0 100px;
}
.numbers {
    background: #34547A;
    padding: 100px 409px;
    text-align: left;
    font-size: 0;
}
.card {
    display: inline-block;
    width: 141px;
}
.card + .card {
    margin-left: 45px;
}
.img {
    display: inline-block;
    margin-right: 20px;
}
.blok {
    display: inline-block;
}
.amount {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFF;
    margin: 0;
}
.unit {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #FFF;
    margin: 0;
}
.video {
    background: #EEEFF1;
    padding: 100px 0;
    font-size: 0;
}
.subject {
    margin: 0 auto 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}
.tagline {
    margin: 0 auto 57px;
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.footer {
    
}
.footer__block {
    padding: 50px 406px;
    background: #34547A;
    font-size: 0;
    text-align: left;
}
.name {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFF;
    margin: 0 0 20px;
}
.copy {
    font-size: 13px;
    line-height: 21px;
    color: #FFF;
    margin: 0;